<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>MessageApp</title>
</head>
<body>
  <h1>MessageApp</h1>

  <p><a href="/add">データを登録する</a></p>
  <p><a href="/view">データを確認する</a></p>
  <p><a href="/search">データを検索する</a></p>
</body>
</html>